.admin-panel {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    padding: 20px;
  }
  
  .admin-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 220px;
    flex-shrink: 0; /* evita que se reduzca */
  }
  
  /* Botones del menú */
  .admin-menu button {
    width: 100%;
    padding: 10px;
    background-color: #1d1b1b;
    border: none;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Hover para botones */
  .admin-menu button:hover {
    background-color: #1a1717;
  }
  
  /* Botón activo */
  .admin-menu button.active {
    background-color: #6a3ea1; /* morado */
    color: white;
  }
  
  /* Contenido principal */
  .admin-content {
    flex: 9 2 1; /* Permite crecer y encoger según espacio */
    min-width: 0; /* Evita overflow en flexbox */
    min-height: 300px; /* Altura mínima */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #383542;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    overflow: auto; /* Permite scroll si el contenido es muy grande */
  }
  
  .admin-content h2 {
    margin-bottom: 10px;
    color: #fff;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .admin-panel {
      flex-direction: column;
    }
  
    .admin-sidebar {
      border-right: none;
      border-bottom: 2px solid #ccc;
      padding-right: 0;
      padding-bottom: 10px;
    }
  }
  